# OS固有のファイル
.DS_Store
Thumbs.db

# ログファイル
*.log

# Node.jsの依存ファイル
node_modules/

# ビルド成果物
dist/
build/

# 環境設定ファイル
.env

# favicon
*.ico

# テスト結果
coverage/

# SASSのマップ
*.map

# API KEY
/weather_dashboard/apikey.js